*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    text-align: center;
    min-height: 100%;
}

h1 {
    color: purple;
    font-weight: bold
}

h2 {
    color: blue;
}

nav {
    display: flex;
    justify-content: space-around;
    position : relative;
    z-index: 9;
}

header {
    background-color: rgb(250, 181, 153);
    position: relative;
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: fixed;
    width: 100%;
    overflow: auto;
    background-color: #dddddd;
    border: 1px solid #c9c9c9;
}

a {
    text-decoration: none;
}

hr {
    width:10%;
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: auto;
  }

footer {
    padding: 20px 0 20px;
}

footer, .main {
    background-color: rgb(252, 220, 190);
}

article {
 box-sizing: border-box;
 border-style: solid;
 border-width: 1px;
 border-radius: 20px;
 margin: 2px;
 text-align: center;
 height: 20vh;
 width: 30vw;
}

article p {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    float: left;
}

.nav-links {
    display: block;
    justify-content: space-around;
    width: 100px;
    color: #000;
    text-align: center;
    float: right;
}

.nav-links:hover {
    background-color: #555;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }

.main {
    padding: 100px 0 50px 0;
}

.intro {
    padding: 20px 0 0 0;
}

.active {
    background-color: aqua;
    color: #000;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
}

.btn {
	background:linear-gradient(to bottom, #fcc073 5%, #f3d983 100%);
	background-color:#fabb6a;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}

@media screen and (max-width:1024px) {
    nav ul {
        display: none;
    }
}


@media screen and (max-width:768px) {
    nav ul {
        display: none;
    }
}

@supports (display: flex) {
    @media screen and (min-width: 900px) {
        article {
            display: flex;
        }
    }
}